@media screen and (max-width: 1000px){

    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }


}

@media (max-width: 992px) {
    .single-project-container {
        width: calc(50% - 4rem); /* Adjust for two columns */
    }
}

@media (max-width: 768px) {
    .single-project-container {
        width: calc(100% - 4rem); /* Adjust for one column */
    }
}